// Wide screens
@include mediaXLg {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Desktops & Laptops 
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

// Tablets & Small Laptop 
@include mediaMd {
    main {
        align-items: center;
        text-align: center;
        
        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav, div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0)
        }
    }

    .menu-nav {
        transform: translate3d(100%,0,0);
        height: 75vh;
        font-size: 20px;
        overflow: hidden;
    }

    .menu-branding {
        transform: translate3d(-100%,0,0);
        height: 25vh;

        .portrait {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: solid 3px $secondary-color;
        }
    }

    .about-info {
        display: flex;
        flex-direction: column;

        .bio-image {
            width: 150px;
        }

        .skills {
            background: lighten($primary-color,50);
            border-bottom: solid 3px $secondary-color;
            margin-bottom: 10px;
            display: inline-block;
    
            h3 {
                color: set-text-color($primary-color);
                font-size: 30px;
                font-weight: 700;
                font-family: 'Abel';
                padding: 5px 15px;
            }
    
            .skill-icons {
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;

                .skill-img {
                    flex: 1 2 33%;
                    padding: 5px;
                }
            }
        }
    }

    .work-info {
        grid-template-areas:
          'jheader'
          'job1'
          'job2'
          'job3'
          'job4'
          'edheader'
          'ed1'
          'ed2'
          'ed3'
          'ed4';  
        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Smartphones
@include mediaSm {
    main {
        padding: 2rem;
        #home h1 {
          margin-top: 10vh;
        }
    
        .lg-heading {
          margin-top:1rem;
          font-size: 5rem;
        }
    }

    .projects {
        grid-template-columns: 1fr;
    }
}

