@import 'config';
@import 'menu';


* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;
        }
    }

    &#home {

        h1 {
            margin-top: 20vh;
        }
    }
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

// Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color,2), 0.5);
    }
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

.text-secondary {
    color: $secondary-color;
}

#linkedin:hover {
    color: rgb(0,119,181);
    @include easeOut();
}

#github:hover {
    color: black;
    @include easeOut();
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

// Grid & Flexbox for about.html

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bioimage bio bio'
    'sheader sheader sheader sheader'
    'frontend backend mobile other';
    grid-template-columns: repeat(4,1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        height: 75%;
        border-radius: 50px;
        border: solid 3px $secondary-color;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .skills-header {
        grid-area: sheader;
    }

    #front-end {
        grid-area: frontend;
    }

    #back-end {
        grid-area: backend;
    }

    #mobile {
        grid-area: mobile;
    }

    #other {
        grid-area: other;
    }

    .skills {
        background: lighten($primary-color,50);
        border-bottom: solid 3px $secondary-color;
        display: inline-block;

        h3 {
            color: set-text-color($primary-color);
            font-size: 30px;
            font-weight: 700;
            font-family: 'Abel';
            padding: 5px 15px;
        }

        .skill-icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px;
        }
    }
}

.skill-img {
    max-width: 75px;
    padding-top: 10px;
}

// Grid for work.html

.work-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'jheader jheader'
    'job1 job1'
    'job2 job2'
    'job3 job3'
    'job4 job4'
    'edheader edheader'
    'ed1 ed2'
    'ed3 ed4';
    grid-template-columns: 1fr 1fr;
    
    .job-header {
        grid-area: jheader;
    }

    .job-1 {
        grid-area: job1;
    }
    
    .job-2 {
        grid-area: job2;
    }
    
    .job-3 {
        grid-area: job3;
    }

    .job-4 {
        grid-area: job4;
    }

    .job, .ed {
        background: lighten($primary-color,5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;

        .duration {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    #ed-header {
        grid-area: edheader;
    }

    .ed-1 {
        grid-area: ed1;
    }    

    .ed-2 {
        grid-area: ed2;
    }  

    .ed-3 {
        grid-area: ed3;
    }   

    .ed-4 {
        grid-area: ed4;
    }    
}

// For projects.html

.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);
  
    img {
      width: 100%;
      border: 3px #fff solid;
      @include easeOut;
  
      &:hover {
        opacity: 0.5;
        border-color: $secondary-color;
        @include easeOut;
      }
    }
}

// For contact.html

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
  
    div {
      font-size: 1.5rem;
      border: 3px #fff solid;
      padding: 1.5rem 2.5rem;
      margin-bottom: 3rem;
      @include easeOut;
  
    &:hover {
        padding: 0.5rem 1.5rem;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        span {
          color: set-text-color($secondary-color);
        }
      }
    }
  }
  
  // Button Styles
  .btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover {
      background: $secondary-color;
      color: set-text-color($secondary-color);
    }
  }
  
.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}
  
.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}
  
@import 'mobile';